<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Spotify Favorite</title>
</head>

<body>
    <div class="container">
        <h1>Spotify Favorite</h1>
        <div class="message">
        <p>あなたがSpotifyでよく聞いていた楽曲を1～10曲表示します。</p>
        <p>- 注意事項 -<br>
            ・ご利用にはSpotifyアカウントの作成、及びSpotify for Developersの登録が必要です。<br>
            ・再生した楽曲が極めて少ない場合は楽曲情報を取得できません。<br>
            ・Redirect URIには予め「http://(ipアドレス)/callback」を設定する必要があります。</p>
        </div>
        
        <form action="/submit" method="POST" class="form-container">
            <div class="form-group">
                <label for="client_id">Client ID</label>
                <input type="text" id="client_id" name="client_id" required>
            </div>
            
            <div class="form-group">
                <label for="client_secret">Client Secret</label>
                <input type="password" id="client_secret" name="client_secret" required>
            </div>
            
            <div class="form-group">
                <label for="redirect_uri">Redirect URI</label>
                <input type="text" id="redirect_uri" name="redirect_uri" required>
            </div>
            
            <button type="submit">送信</button>
        </form>

        <div class="links-container">
            <a href="https://www.spotify.com/signup" target="_blank">Spotifyアカウントを持っていない方はこちら</a>
            <a href="https://developer.spotify.com/dashboard/" target="_blank">Spotify Developersに登録していない場合はこちら</a>
        </div>

        <div class="carousel-container">
            <div class="carousel-track"></div>
        </div>
        
        <script src="./static/script.js"></script>
    </div>
</body>
</html>
