<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css" />
    <title>Spotify Top Tracks</title>
</head>

<body>
    <div class="container">
        <h1>Spotify Top Tracks</h1>
        <p>Spotifyでよく聞いていた楽曲を10曲表示します。</p>
        <p>ご利用にはspotifyアカウントを作成し、spotify developerへの登録が必要です。</p>
        
        <!-- <form action="/submit" method="POST" class="form-container">
            <div class="form-group">
                <label for="client_id">Client ID</label>
                <input type="text" id="client_id" name="client_id" required>
            </div>
            
            <div class="form-group">
                <label for="client_secret">Client Secret</label>
                <input type="password" id="client_secret" name="client_secret" required>
            </div>
            
            <div class="form-group">
                <label for="redirect_uris">Redirect URIs</label>
                <input type="text" id="redirect_uris" name="redirect_uris" required>
            </div>
            
            <button type="submit">送信</button>
        </form> -->

        <a href="/login">
            <button>あなたのTOP10を表示する</button>
        </a>
    

        <div class="links-container">
            <p><a href="https://www.spotify.com/signup" target="_blank">Spotifyアカウントを持っていない方はこちら</a></p>
            <p><a href="https://developer.spotify.com/dashboard/" target="_blank">Spotify Developerに登録していない場合はこちら</a></p>
        </div>
    </div>
</body>
</html>
