<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Spotify Login</title>
</head>
<body>
    <div class="container">
        <h1>Spotifyでログイン</h1>
        <p>下のボタンをクリックすると、Spotifyの認証画面へ移動します。</p>
        <a href="/login">
            <button>Spotifyでログインする</button>
        </a>
    </div>
</body>
</html>
