<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/styles.css" />
    <link rel="stylesheet" href="./static/tracks_styles.css" />
    <title>Your Top 10 Tracks</title>
</head>
<body>
    <h1>Your Top 10 Tracks</h1>
    <table>
        <tbody>
            {% for track in top_tracks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><img src="{{ track.image_url }}" alt="{{ track.name }} album cover" class="track-image"></td>
                <td>{{ track.name }}</td>
                <td class="artists">{{ track.artists }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button-container">
        <a href="/">
            <button>戻る</button>
        </a>
    </div>
</body>
</html>
